Repository Team-Minionz/springboot-study-project-qrna, pull requests merged in 2021-11, with the labels that each got.

#68 [BE] 즐겨찾기 기능구현
  src/main/java/com/minionz/backend/shop/controller/dto/CommonShopResponseDto.java
  src/main/java/com/minionz/backend/shop/domain/Shop.java
  src/main/java/com/minionz/backend/user/controller/UserController.java
  src/main/java/com/minionz/backend/user/controller/dto/BookmarkRequestDto.java
  src/main/java/com/minionz/backend/user/service/UserService.java
  src/test/java/com/minionz/backend/shop/controller/ShopControllerTest.java
  src/test/java/com/minionz/backend/user/controller/UserControllerTest.java
  src/test/java/com/minionz/backend/user/service/UserServiceTest.java
Labels: feature, backend

#78 [BE] Owner 매장 상세보기 기능 추가
  src/main/java/com/minionz/backend/shop/controller/ShopController.java
  src/main/java/com/minionz/backend/shop/service/ShopService.java
  src/test/java/com/minionz/backend/shop/service/ShopServiceTest.java
Labels: feature, backend

#71 [BE] 매장 검색 기능구현
  src/main/java/com/minionz/backend/shop/controller/dto/CommonShopResponseDto.java
  src/main/java/com/minionz/backend/user/controller/UserController.java
  src/main/java/com/minionz/backend/user/controller/dto/BookmarkRequestDto.java
  src/main/java/com/minionz/backend/user/service/UserService.java
  src/test/java/com/minionz/backend/shop/controller/ShopControllerTest.java
  src/test/java/com/minionz/backend/user/controller/UserControllerTest.java
  src/test/java/com/minionz/backend/user/service/UserServiceTest.java
Labels: feature, backend

#75 [BE] 메인페이지 내 주변 매장 기능구현
  src/main/java/com/minionz/backend/shop/controller/ShopController.java
  src/main/java/com/minionz/backend/shop/domain/Shop.java
  src/main/java/com/minionz/backend/shop/domain/ShopRepository.java
  src/main/java/com/minionz/backend/shop/service/ShopService.java
  src/test/java/com/minionz/backend/shop/controller/ShopControllerTest.java
  src/test/java/com/minionz/backend/shop/service/ShopServiceTest.java
Labels: feature, backend

#77 [BE] 퇴장 기능 추가
  src/main/java/com/minionz/backend/shop/controller/ShopTableController.java
  src/main/java/com/minionz/backend/shop/domain/ShopTable.java
  src/main/java/com/minionz/backend/shop/service/ShopTableService.java
  src/test/java/com/minionz/backend/shop/service/ShopTableServiceTest.java
Labels: feature, backend

#80 [BE] 테스트 코드 에러 수정
  src/main/java/com/minionz/backend/shop/domain/Shop.java
  src/test/java/com/minionz/backend/shop/controller/ShopTableControllerTest.java
  src/test/java/com/minionz/backend/user/service/UserServiceTest.java
Labels: test, backend, hotfix

#88 [BE] 매장 검색 지역 필터 기능 수정
  src/main/java/com/minionz/backend/shop/domain/ShopRepository.java
  src/main/java/com/minionz/backend/shop/service/ShopService.java
Labels: backend, hotfix

#90 [BE] 즐겨찾기 등록, 삭제 버그 수정
  src/main/java/com/minionz/backend/user/domain/User.java
  src/main/java/com/minionz/backend/user/service/UserService.java
Labels: backend, hotfix

#86 [BE] 주변 매장 조회 방문 순/혼잡도 순 정렬 docs 및 구현
  src/main/asciidoc/index.adoc
  src/main/java/com/minionz/backend/shop/controller/ShopController.java
  src/main/java/com/minionz/backend/shop/domain/Shop.java
  src/main/java/com/minionz/backend/shop/domain/ShopRepository.java
  src/main/java/com/minionz/backend/shop/service/ShopService.java
  src/test/java/com/minionz/backend/shop/controller/ShopControllerTest.java
  src/test/java/com/minionz/backend/shop/service/ShopServiceTest.java
Labels: docs, feature, backend

#92 [BE] ShopRepository 임포트 추가
  src/main/java/com/minionz/backend/shop/domain/ShopRepository.java
Labels: backend, hotfix

#93 [BE] 배포 자동화(CI/CD)
  .travis.yml
  appspec.yml
  scripts/deploy.sh
Labels: feature, backend

#95 [BE] 메인페이지 상점 조회 response 좌표값 추가
  src/main/java/com/minionz/backend/shop/controller/ShopController.java
  src/main/java/com/minionz/backend/shop/controller/dto/NearShopResponseDto.java
  src/main/java/com/minionz/backend/shop/service/ShopService.java
  src/test/java/com/minionz/backend/shop/controller/ShopControllerTest.java
  src/test/java/com/minionz/backend/shop/service/ShopServiceTest.java
Labels: backend, hotfix

#98 [BE] 무중단 배포
  appspec.yml
  build.gradle
  scripts/deploy.sh
  scripts/health.sh
  scripts/profile.sh
  scripts/start.sh
  scripts/stop.sh
  scripts/switch.sh
  src/main/java/com/minionz/backend/common/controller/ProfileController.java
  src/main/resources/application-real1.properties
  src/main/resources/application-real2.properties
  src/test/java/com/minionz/backend/common/controller/ProfileControllerTest.java
  src/test/java/com/minionz/backend/common/controller/ProfileControllerUnitTest.java
Labels: feature, backend

#99 [BE] Unique 값 에러 메세지 response
  src/main/java/com/minionz/backend/shop/domain/Shop.java
  src/main/java/com/minionz/backend/user/domain/UserBaseEntity.java
  src/main/java/com/minionz/backend/user/domain/UserRepository.java
  src/main/java/com/minionz/backend/user/service/UserService.java
Labels: backend, hotfix
