Repository Team-Minionz/springboot-study-project-qrna, pull requests merged in 2021-10, with the labels that each got.

#6 [BE] API Speicification 작성
  backend/.DS_Store
  backend/build.gradle
  backend/src/main/asciidoc/index.adoc
  backend/src/main/java/com/minionz/backend/BackendApplication.java
  backend/src/main/java/com/minionz/backend/JpaAuditingConfiguration.java
  backend/src/main/java/com/minionz/backend/common/domain/StatusCode.java
  backend/src/main/java/com/minionz/backend/user/controller/UserController.java
  backend/src/main/java/com/minionz/backend/user/controller/dto/UserJoinRequest.java
  backend/src/main/java/com/minionz/backend/user/controller/dto/UserJoinResponse.java
  backend/src/main/java/com/minionz/backend/user/controller/dto/UserLoginRequestDto.java
  backend/src/main/java/com/minionz/backend/user/controller/dto/UserLoginResponseDto.java
  backend/src/main/java/com/minionz/backend/user/controller/dto/UserLogoutResponseDto.java
  backend/src/main/java/com/minionz/backend/user/controller/dto/UserWithdrawResponse.java
  backend/src/main/java/com/minionz/backend/user/domain/UserRepository.java
  backend/src/main/java/com/minionz/backend/user/service/UserService.java
  backend/src/main/java/com/minionz/backend/visit/controller/VisitController.java
  backend/src/main/java/com/minionz/backend/visit/controller/dto/CheckInRequestDto.java
  backend/src/main/java/com/minionz/backend/visit/controller/dto/CheckInResponseDto.java
  backend/src/main/java/com/minionz/backend/visit/service/VisitService.java
  backend/src/test/java/com/minionz/backend/ApiDocument.java
  backend/src/test/java/com/minionz/backend/BackendApplicationTests.java
  backend/src/test/java/com/minionz/backend/user/controller/UserControllerTest.java
  backend/src/test/java/com/minionz/backend/visit/domain/VisitControllerTest.java
Labels: docs, feature, backend

#10 [BE] 방문 기록 기능 구현
  backend/src/main/java/com/minionz/backend/shop/domain/ShopRepository.java
  backend/src/main/java/com/minionz/backend/user/domain/UserRepository.java
  backend/src/main/java/com/minionz/backend/visit/controller/VisitController.java
  backend/src/main/java/com/minionz/backend/visit/controller/dto/CheckInRequestDto.java
  backend/src/main/java/com/minionz/backend/visit/service/VisitService.java
  backend/src/main/resources/static/index.html
  backend/src/test/java/com/minionz/backend/visit/controller/VisitControllerTest.java
Labels: feature, backend

#12 [BE] 로그인, 로그아웃 기능 구현
  backend/src/main/java/com/minionz/backend/common/domain/StatusCode.java
  backend/src/main/java/com/minionz/backend/user/controller/UserController.java
  backend/src/main/java/com/minionz/backend/user/controller/dto/UserLoginResponseDto.java
  backend/src/main/java/com/minionz/backend/user/controller/dto/UserLogoutResponseDto.java
  backend/src/main/java/com/minionz/backend/user/domain/UserRepository.java
  backend/src/main/java/com/minionz/backend/user/service/UserService.java
Labels: feature, backend

#14 [BE] 초기 docs 수정
  backend/src/main/asciidoc/index.adoc
  backend/src/main/java/com/minionz/backend/common/controller/ControllerAdvice.java
  backend/src/main/java/com/minionz/backend/common/domain/Message.java
  backend/src/main/java/com/minionz/backend/common/domain/StatusCode.java
  backend/src/main/java/com/minionz/backend/common/exception/BadRequestException.java
  backend/src/main/java/com/minionz/backend/common/exception/CommonException.java
  backend/src/main/java/com/minionz/backend/common/exception/NotFoundException.java
  backend/src/main/java/com/minionz/backend/user/controller/UserController.java
  backend/src/main/java/com/minionz/backend/user/controller/dto/UserJoinResponse.java
  backend/src/main/java/com/minionz/backend/user/controller/dto/UserLoginRequestDto.java
  backend/src/main/java/com/minionz/backend/user/controller/dto/UserRequestDto.java
  backend/src/main/java/com/minionz/backend/user/controller/dto/UserResponseDto.java
  backend/src/main/java/com/minionz/backend/user/controller/dto/UserWithdrawResponse.java
  backend/src/main/java/com/minionz/backend/user/service/UserService.java
  backend/src/main/java/com/minionz/backend/visit/controller/VisitController.java
  backend/src/main/java/com/minionz/backend/visit/controller/dto/CheckInResponseDto.java
  backend/src/main/java/com/minionz/backend/visit/domain/VisitRepository.java
  backend/src/main/java/com/minionz/backend/visit/service/VisitService.java
  backend/src/test/java/com/minionz/backend/user/controller/UserControllerTest.java
  backend/src/test/java/com/minionz/backend/visit/controller/VisitControllerTest.java
Labels: backend, hotfix

#19 [BE] 회원가입, 탈퇴 기능 수정
  backend/src/main/java/com/minionz/backend/common/controller/ControllerAdvice.java
  backend/src/main/java/com/minionz/backend/common/exception/NotEqualsException.java
  backend/src/main/java/com/minionz/backend/common/exception/NotFoundException.java
  backend/src/main/java/com/minionz/backend/user/controller/dto/UserLoginRequestDto.java
  backend/src/main/java/com/minionz/backend/user/controller/dto/UserRequestDto.java
  backend/src/main/java/com/minionz/backend/user/domain/User.java
  backend/src/main/java/com/minionz/backend/user/domain/UserRepository.java
  backend/src/main/java/com/minionz/backend/user/service/UserService.java
  backend/src/test/java/com/minionz/backend/user/service/UserServiceTest.java
Labels: fix, backend

#26 [BE] Shop 매장 등록/수정/삭제 기능 구현
  src/main/asciidoc/index.adoc
  src/main/java/com/minionz/backend/shop/controller/ShopController.java
  src/main/java/com/minionz/backend/shop/controller/dto/ShopRequestDto.java
  src/main/java/com/minionz/backend/shop/domain/Shop.java
  src/main/java/com/minionz/backend/shop/service/ShopService.java
  src/test/java/com/minionz/backend/shop/controller/ShopControllerTest.java
Labels: feature, backend

#37 [BE] 매장리스트 기능 추가
  src/main/asciidoc/index.adoc
  src/main/java/com/minionz/backend/shop/controller/ShopController.java
  src/main/java/com/minionz/backend/shop/controller/dto/ShopListResponseDto.java
  src/main/java/com/minionz/backend/shop/service/ShopService.java
  src/test/java/com/minionz/backend/shop/controller/ShopControllerTest.java
Labels: feature, backend

#49 [BE] 메인페이지, 검색 docs 작성
  src/main/asciidoc/index.adoc
  src/main/java/com/minionz/backend/shop/controller/ShopController.java
  src/main/java/com/minionz/backend/shop/controller/dto/CommonShopResponseDto.java
  src/main/java/com/minionz/backend/shop/service/ShopService.java
  src/main/java/com/minionz/backend/user/controller/UserController.java
  src/main/java/com/minionz/backend/user/service/UserService.java
  src/test/java/com/minionz/backend/ApiDocument.java
  src/test/java/com/minionz/backend/EnableMockMvc.java
  src/test/java/com/minionz/backend/shop/controller/ShopControllerTest.java
Labels: docs, backend

#56 [BE] 즐겨찾기 docs 작성
  src/main/asciidoc/index.adoc
  src/main/java/com/minionz/backend/user/controller/UserController.java
  src/main/java/com/minionz/backend/user/controller/dto/BookmarkRequestDto.java
  src/main/java/com/minionz/backend/user/domain/Bookmark.java
  src/main/java/com/minionz/backend/user/domain/BookmarkRepository.java
  src/main/java/com/minionz/backend/user/domain/User.java
  src/main/java/com/minionz/backend/user/service/UserService.java
  src/test/java/com/minionz/backend/user/controller/UserControllerTest.java
Labels: docs, feature, backend

#62 [BE] ShopController 수정
  src/main/java/com/minionz/backend/shop/controller/ShopController.java
  src/test/java/com/minionz/backend/shop/controller/ShopControllerTest.java
Labels: backend, hotfix
